

.cl1{
    position: fixed;
    margin-top: 200px;
    margin-left: 500px;

}

#circle {
    background: red;
    width: 100px;
    height: 100px;
    border: 0px;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 100px;
    z-index:1;
    animation: cir 6s ;
    animation-fill-mode: forwards;
}

#quad1 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 110px;
    left: 100px;
    z-index:1;
    animation: q1 4s ;
    animation-fill-mode: forwards;
    
   
}

#quad2 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 220px;
    left: 0px;
    z-index:1;
    animation: q2 4s ;
    animation-fill-mode: forwards;
   
}

#quad3 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 330px;
    left: 100px;
    z-index:1;
    animation: q3 4s ;
    animation-fill-mode: forwards;
}

#quad4 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 210px;
    z-index:1;
    animation: q4 4s ;
    animation-fill-mode: forwards;

   
}

#quad5 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    z-index:1;
    animation: q5 4s ;
    animation-fill-mode: forwards;
   
}

#quad6 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 110px;
    z-index:1;
    animation: q6 4s ;
    animation-fill-mode: forwards;
   
}

#quad7 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    z-index:1;
    animation: q7 4s ;
    animation-fill-mode: forwards;
   
}

#quad8 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    z-index:1;
    animation: q8 4s ;
    animation-fill-mode: forwards;
   
}

#quad9 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    z-index:1;
    animation: q9 4s ;
    animation-fill-mode: forwards;
   
   
}

#i1 {   
        opacity: 0;
       position: fixed;
       font-size: 80px;
       font-family: 'Open Sans';
       animation: i1 1s;
        animation-delay: 6s;
        animation-fill-mode: forwards;
        

}

#i2 {
    opacity: 0;
       position: fixed;
       font-size: 80px;
       font-family: 'Open Sans';
        animation-name: i2;
        animation-duration: 1.5s;
        animation-delay: 6s;
}

#i2f {
    opacity: 0;
       position: fixed;
       font-size: 80px;
       font-family: 'Open Sans';
        animation-name: i2f;
        animation-duration: 1s;
        animation-delay: 10.9s;
        animation-fill-mode: forwards;
}

#i3 {
    opacity: 0;
       position: fixed;
       font-size: 80px;
       font-family: 'Open Sans';
        animation-name: i3;
        animation-duration: 1s;
        animation-delay: 7.5s;
}

#i4 {
    opacity: 0;
       position: fixed;
       font-size: 80px;
       font-family: 'Open Sans';
        animation-name: i4;
        animation-duration: 1s;
        animation-delay: 8.5s;
}

#i5 {
    opacity: 0;
       position: fixed;
       font-size: 80px;
       font-family: 'Open Sans';
        animation-name: i5;
        animation-duration: 1s;
        animation-delay: 9.5s;
}

#i6 {
    opacity: 0;
       position: fixed;
       font-size: 40px;
       font-family: 'Open Sans';
        animation-name: i6;
        animation-duration: 2.5s;
        animation-delay: 12s;
        animation-fill-mode: forwards;
}

@keyframes i1{

    0% {opacity: 0%; top: 450px; left:0px;}
    100% {opacity: 100%; top: 450px; left: 550px;}

}

@keyframes i2{

    0% { opacity: 0; left: 0px; top: 530px;}
    100% { opacity: 100%; left: 580px; top: 530px; }

}

@keyframes i2f{

    0% { opacity: 0%; left: 580px; top: 530px;}
    100% { opacity: 100%; left: 580px; top: 530px; }
}

@keyframes i3{

    0% { opacity: 0%; left: 550px; top: 530px;}
    100% { opacity: 100%; left: 550px; top: 530px; }

}

@keyframes i4{

    0% { opacity: 0%; left: 580px; top: 530px;}
    100% { opacity: 100%; left: 580px; top: 530px; }

}

@keyframes i5{

    0% { opacity: 0%; left: 510px; top: 530px;}
    100% { opacity: 100%; left: 510px; top: 530px; }

}

@keyframes i6{

    0% { opacity: 0%; left: 630px; top: 650px;}
    100% { opacity: 100%; left: 630px; top: 650px; }

}

@keyframes cir
{
    0% {top: 0px; background-color: greenyellow; border-radius: 0px;}
    25% {left: 100px; background-color: darkgreen;}
    35% {left: 500px; top: 450px;  background-color: darkgreen;}
    50% {left: 820px; top: 550px; background-color: darkgreen;}
    60% {left: 1220px; top:600px ; background-color: darkolivegreen;}
    70% {left: 1020px; top: 600px; background-color: darkolivegreen;}
    100% {top: 55px; left: 608px; background-color: red;border-radius: 200px;}

}

@keyframes q1
{
    0% {top: 0px; background-color: greenyellow;}
    25% {left: 1300px; background-color: darkgreen;}
    50% {left: 10px; background-color: red;}
    75% {left: 490px; background-color: green;}
    100% {top: 168px; left: 610px; background-color: green;}

}

@keyframes q2
{
    0% {left: 0; top:500px; background-color: greenyellow;}
    25% {top: 300px; background-color: darkgreen;}
    50% {top: 390px; background-color: red;}
    75% {top: 500px; background-color: green;}
    100% {left:610px;  top: 277px; background-color: green;}

}

@keyframes q3
{
    0% {left: 0; top:500px; background-color: greenyellow;}
    25% {top: 300px; background-color: darkgreen;}
    50% {top: 400px; background-color: red;}
    75% {top: 590px; background-color: green;}
    100% {left:610px;  top: 388px; background-color: green;}
}

@keyframes q4
{
    0% {left: 0; top:0px; background-color: greenyellow;}
    25% {top: 500px; background-color: darkgreen;}
    50% {top: 200px; background-color: red;}
    75% {top: 90px; background-color: green;}
    100% {left:718px;  top: 58px; background-color: green;}
}

@keyframes q5
{
    0% {right:0px; top:50px; background-color: greenyellow;}
    25% {right:45px; top: 50px; background-color: darkgreen;}
    50% {right: 958px; top:208px; background-color: red;}
    75% {right: 110px; background-color: green;}
    100% {right:610px;  top: 58px; background-color: green;}
}

@keyframes q6
{
    0% {right:0px; top:50px; background-color: greenyellow;}
    25% {right: 55px; top: 50px; background-color: darkgreen;}
    50% {right: 705px; top:90px; background-color: red;}
    75% {right: 110px; background-color: green;}
    100% {right:718px;  top: 170px; background-color: green;}
} 
@keyframes q7
{
    0% {right: 0px; top:50px; background-color: greenyellow;}
    25% {right: 255px; top: 90px; background-color: darkgreen;}
    50% {right: 1150px; top:250px; background-color: red;}
    75% {right: 610px; background-color: green;}
    100% {right: 715px;  top: 280px; background-color: green;}
} 
@keyframes q8
{
    0% {top: 1000px; left: 0px; background-color: greenyellow;}
    25% {bottom: 225px; background-color: darkgreen;}
    50% {bottom: 1250px; left: 250px; background-color: red;}
    75% {bottom: 850px; left: 900px; background-color: green;}
    100% {top: 180px; left: 210px; background-color: green;}
} 
@keyframes q9
{
    0% {top: 1000px; left: 700px; background-color: greenyellow;}
    25% {bottom: 225px; background-color: darkgreen;}
    50% {bottom: 150px; left: 150px; background-color: red;}
    75% {bottom: 250px; left: 600px; background-color: green;}
    100% {top: 70px; left: 320px; background-color: green;}
}