

.cl1{
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;

}

#circle {
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    border: 0px;
    position: fixed;
    top: 0px;
    left: 100px;
    z-index:5;
    animation: cir 2s ;
    animation-fill-mode: forwards;
}

#quad1 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 110px;
    left: 100px;
    z-index:5;
    animation: q1 2s ;
    animation-fill-mode: forwards;
    
   
}

#quad2 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 220px;
    left: 0px;
    z-index:5;
    animation: q2 2s ;
    animation-fill-mode: forwards;
   
}

#quad3 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 330px;
    left: 100px;
    z-index:5;
    animation: q3 2s ;
    animation-fill-mode: forwards;
}

#quad4 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 210px;
    z-index:5;
    animation: q4 2s ;
    animation-fill-mode: forwards;

   
}

#quad5 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 320px;
    z-index:5;
    animation: q5 2s ;
    animation-fill-mode: forwards;
   
}

#quad6 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 110px;
    left: 210px;
   
}

#quad7 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 220px;
    left: 210px;
   
}

#quad8 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 330px;
    left: 210px;
   
}

#quad9 {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 220px;
    left: 320px;
   
}

@keyframes cir
{
    0% {top: 0px; background-color: greenyellow;}
    25% {left: 100px; background-color: darkgreen;}
    50% {left: 120px; background-color: darkolivegreen;}
    75% {left: 100px; background-color: green;}
    100% {top: 200px; left: 600px; background-color: red;}
    to {top: 205px; left: 608px;}

}

@keyframes q1
{
    0% {top: 0px; background-color: greenyellow;}
    25% {left: 100px; background-color: darkgreen;}
    50% {left: 80px; background-color: red;}
    75% {left: 90px; background-color: green;}
    100% {top: 200px; left: 150px; background-color: green;}
    to {top: 110px; left: 100px;}

}

@keyframes q2
{
    0% {left: 0; top:500px; background-color: greenyellow;}
    25% {top: 300px; background-color: darkgreen;}
    50% {top: 390px; background-color: red;}
    75% {top: 500px; background-color: green;}
    100% {left:610px;  top: 427px; background-color: green;}

}

@keyframes q3
{
    0% {left: 0; top:500px; background-color: greenyellow;}
    25% {top: 300px; background-color: darkgreen;}
    50% {top: 290px; background-color: red;}
    75% {top: 590px; background-color: green;}
    100% {left:610px;  top: 538px; background-color: green;}
}

@keyframes q4
{
    0% {left: 0; top:0px; background-color: greenyellow;}
    25% {top: 50px; background-color: darkgreen;}
    50% {top: 80px; background-color: red;}
    75% {top: 90px; background-color: green;}
    100% {left:718px;  top: 208px; background-color: green;}
}

@keyframes q5
{
    0% {right: 0; top:0px; background-color: greenyellow;}
    25% {top: 50px; background-color: darkgreen;}
    50% {right: 80px; background-color: red;}
    75% {right: 200px; background-color: green;}
    100% {right:810px;  top: 250px; background-color: green;}
}