#i1 {
    
    position: absolute;
    top: 420px;
    left: 400px;
    font-size: 100px;
    animation: i1 6s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    

}


@keyframes i1{

    0% {opacity: 0;}
    100% {opacity: 100%;}

}